---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Experienced Android Developer with 4+ years' experience designing, developing, and maintaining mobile apps. Skilled in collaborating with cross-functional teams to deliver high-quality solutions. Actively engaged in self-learning and project and brings a diligent, enthusiastic, detail-oriented approach to fostering a positive work atmosphere. 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master of Information Technology (Mobile and Cloud Computing) - 3.75 GPA"
      subtitle="Feb 2022 to Dec 2023 at Swinburne University, Hawthorn, Australia"
    />
    <TimeLineElement
      title="Bachelor of Computer Engineering"
      subtitle="Nov 2009 to [April 2014 at Kantipur Engineering College, Lalitpur, Nepal"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Coles Services Incharge"
      subtitle="From Nov 2019 to Jan 2022 at Coles, Mitcham, Australia"
    >
    - Improved store cleanliness from 75% to 95%, surpassing performance targets and making it the top store in the region, earning recognition three times.<br>
    - Fostered open communication to enhance  team effectiveness.<br>
    - Supervised a team of five members, distributing responsibilities, addressing arising challenges and providing training to junior members.<br>
    </TimeLineElement>
    <TimeLineElement
      title="Mobile Application Developer"
      subtitle="From Aug 2014 to Oct 2019 at Shiran Technologies, Kathmandu , Nepal">
    - Transformed the application with a brand-new user interface and incorporated all features using the latest material design which enhanced the user experience.<br>
    - Improved hierarchical navigation issue in a shopping app by efficient use of Viewpager and Adapters resulting in smooth user experience when browsing through different categories of items.<br>
    - Incorporated timely feature requests and bug fixes for all the clients, ensuring client satisfaction and maintaining 100% customer retention.<br>
    - Piloted prototypes for two possible clients with quick turnaround time resulting in acquisition of new customers.<br>
    - Structured mentoring program for junior members on adapting technologies like Git, Firebase with real world examples to help them upskill and contribute to projects.<br>
    - Coordinated as a member of the Food committee by taking feedback from employees and suggesting changes to canteen management resulting in better food and 40% increment in satisfaction.<br>
    </TimeLineElement>
  </div>
  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-3 columns-2 mx-6">
    <li>Java</li>
    <li>Kotlin</li>
    <li>UI/UX design</li>
    <li>React.Js</li>
    <li>Flutter</li>
    <li>Database</li>
    <li>Android App Development</li>
    <li>Version control with Git</li>
    <li>Agile methodology</li>
  </ul>
</BaseLayout>
